<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('CTR World Tour')"></head>

<body th:style="'background-image: url(/images/' + ${course.coursePhotoURL} + ');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;'">
<main class="race-results">

    <div class="results-panel">
        <h1 th:text="${course.courseName}"></h1>

        <form th:action="@{/courses/{id}/results(id=${course.courseId})}"
              method="post">

            <div class="player-row" th:each="player : ${players}">
                <label th:text="${player.playerName}"></label>

                <input
                        type="number"
                        min="1"
                        max="8"
                        th:name="${player.playerId}"
                        required />
            </div>

            <button type="submit" class="menu-button">
                Finish Race
            </button>

        </form>
    </div>

</main>
</body>
</html>